.sub_grid_wrapper {
  width: 100%;
  height: 100%;
}

.sub_grid_wrapper_first_row {
  width: 100%;
  height: 66.25%;
  padding-bottom: 0.25%;
}
.sub_grid_wrapper_second_row {
  padding-top: 0.25%;
  width: 100%;
  height: 33.25%;
  display: flex;
}

.grid_wrapper {
  width: 100%;
  height: 100%;
}

.grid_wrapper_1_img {
  grid-template-columns: repeat(1, 1fr);
}

.grid_wrapper_2_img {
  grid-template-columns: repeat(2, 1fr);
}
.grid_wrapper_3_img {
  grid-template-columns: repeat(2, 1fr);
}
.grid_wrapper_4_img {
  grid-template-columns: repeat(3, 1fr);
}
.grid_wrapper_5_img {
  grid-template-columns: repeat(2, 1fr 1fr);
}

.img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.show_more_img {
  opacity: 0.5;
  position: relative;
  height: 100%;
  width: 100%;
}

.show_more_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
}

.img_1_1 {
  width: 100%;
  height: 100%;
}

.img_2_1 {
  width: 49.75%;
  height: 100%;
  padding-right: 0.25%;
}
.img_2_2 {
  width: 49.75%;
  height: 100%;
  padding-right: 0.25%;
}

.img_3_1 {
  width: 100%;
  height: 67%;
}

.img_3_2 {
  width: 49.75%;
  height: 33%;
  padding-right: 0.25%;
}
.img_3_3 {
  padding-left: 0.25%;
  width: 49.75%;
  height: 33%;
}

.img_4_1 {
  width: 100%;
  height: 67%;
}

.img_4_2 {
  width: 33%;
  height: 33%;
}
.img_4_3 {
  padding: 0 0.25rem;
  width: 33%;
  height: 33%;
}
.img_4_4 {
  width: 33%;
  height: 33%;
}

.sub_img_3_1 {
  width: 33%;
  height: 100%;
}

.sub_img_3_2 {
  width: 33.5%;
  height: 100%;
  padding: 0 0.25%;
}
.sub_img_3_3 {
  width: 33%;
  height: 100%;
}
