.img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal_wrap {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.noselect{
  user-select: none;
}

.leftarrow{
  padding-right: 0.5em;
}

.rightarrow{
  padding-left: 0.5em;
}
