.img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal_wrap {
  display: flex;
  align-items: center;
  height: 90%;
  width: 100%;
  padding: 0.5rem 0;
}

.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.close_icon {
  align-self: flex-end;
}

.icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.left_arrow {
  transform: rotate(180deg);
}
